/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwindCss utility */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* react scrolify */
html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.active-scroll-spy {
  background-color: #84cc16;
  border-radius: 15px;
}

/* menu toggle style */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
